/* viz.less */

@borderColour: #900;
@fillColour: lighten(@borderColour, 25%);
@linkColour: #66f;
@textColour: #666;

div#viz {
}

.node {
	circle {
		stroke: @borderColour;
		stroke-width: 1px;
		fill: @fillColour;
	}
	text {
		font: 9px sans-serif;
		stroke-color: @textColour;
		pointer-events: none;
	}
}

.link {
  stroke: @linkColour;
  stroke-opacity: .8;
}

